<<<<<<< HEAD
#head {
    
=======
body {
    margin: 0;
    padding: 0;
    width: 100%;
>>>>>>> 1cc2391e6e07b1bbf0c489770d8883e2ae05fffb
    height: 100vh;
}

#head {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}

h1 {
    font-size: 5rem; 
    top: -20%; 
    margin-left:10%;
}
